In [120]:
import pandas as pd
!pip3 install SQLAlchemy

Collecting SQLAlchemy
  Using cached SQLAlchemy-1.4.36-cp310-cp310-win_amd64.whl (1.6 MB)
Collecting greenlet!=0.4.17
  Using cached greenlet-1.1.2-cp310-cp310-win_amd64.whl (101 kB)
Installing collected packages: greenlet, SQLAlchemy
Successfully installed SQLAlchemy-1.4.36 greenlet-1.1.2

WARNING: You are using pip version 22.0.4; however, version 22.1 is available.
You should consider upgrading via the 'C:\Users\jjspe\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip' command.

In [109]:
pd.read_csv('Puppy.csv')

     Puppy Name      Breed
0          Lita     Cullin
1         Marcy      Raffo
2         Renie     Billye
3       Dorothy     Posner
4   Annecorinne    Felizio
5     Mellicent     Letsou
6       Imojean     Milson
7        Noelle     Hirsch
8      Ursulina    Myrilla
9       Carilyn  Marcellus
10       Gratia    Jaylene
11       Gisela  O'Carroll
12       Libbie     Sundin
13        Taffy     Center
14        Talya    Pernick
15         Emma   Magdalen
16      Marylou       Jary
17       Hettie      Paton
18      Deloria     Billye
19       Ginnie      Libna

In [110]:
df = pd.read_csv('puppy.csv')

print(df)

     Puppy Name      Breed
0          Lita     Cullin
1         Marcy      Raffo
2         Renie     Billye
3       Dorothy     Posner
4   Annecorinne    Felizio
5     Mellicent     Letsou
6       Imojean     Milson
7        Noelle     Hirsch
8      Ursulina    Myrilla
9       Carilyn  Marcellus
10       Gratia    Jaylene
11       Gisela  O'Carroll
12       Libbie     Sundin
13        Taffy     Center
14        Talya    Pernick
15         Emma   Magdalen
16      Marylou       Jary
17       Hettie      Paton
18      Deloria     Billye
19       Ginnie      Libna

In [121]:
from sqlalchemy import create_engine