In [108]:
import pandas as pd

In [109]:
pd.read_csv('Puppy.csv')

     Puppy Name      Breed
0          Lita     Cullin
1         Marcy      Raffo
2         Renie     Billye
3       Dorothy     Posner
4   Annecorinne    Felizio
5     Mellicent     Letsou
6       Imojean     Milson
7        Noelle     Hirsch
8      Ursulina    Myrilla
9       Carilyn  Marcellus
10       Gratia    Jaylene
11       Gisela  O'Carroll
12       Libbie     Sundin
13        Taffy     Center
14        Talya    Pernick
15         Emma   Magdalen
16      Marylou       Jary
17       Hettie      Paton
18      Deloria     Billye
19       Ginnie      Libna

In [110]:
df = pd.read_csv('puppy.csv')

print(df)

     Puppy Name      Breed
0          Lita     Cullin
1         Marcy      Raffo
2         Renie     Billye
3       Dorothy     Posner
4   Annecorinne    Felizio
5     Mellicent     Letsou
6       Imojean     Milson
7        Noelle     Hirsch
8      Ursulina    Myrilla
9       Carilyn  Marcellus
10       Gratia    Jaylene
11       Gisela  O'Carroll
12       Libbie     Sundin
13        Taffy     Center
14        Talya    Pernick
15         Emma   Magdalen
16      Marylou       Jary
17       Hettie      Paton
18      Deloria     Billye
19       Ginnie      Libna

In [112]:
from sqlalchemy import create_engine

ModuleNotFoundError: No module named 'sqlalchemy'